html{
    background-image: radial-gradient(circle, rgba(172, 172, 172, 0.74),rgba(127, 150, 177, 0.847),rgba(61, 99, 143, 0.847));
    background-color: rgb(122, 122, 122);
    background-repeat: no-repeat;
    background-size: 100% 140%;
}